/*Main layout*/
body {
  background-color: #2C3E50;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar-custom {
  background-color: #2C3E50;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}
.navbar-custom li:hover {
  background-color: #E74C3C;
  color: white;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1.2em;
  color: white;
}
.title {
  color: #E74C3C;
}
.navheader-custom {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: #E74C3C !important;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 5em;
}
/*Index Page*/
.csvSample {
  width: 50%;
}
/*Object Query Page*/
.section {
  align-self: center;
}
.objectSearch, .dateSearch {
  height: 40px;
  font-size: 1.4em;
  color: black;
  margin-right: 20px;
}
.objectSearch {
  width: 300px;
}
.dateSearch {
  width: 500px;
}
.searchSubmitBtn {
  width: 100px;
  background: none;
  border: 2px solid white;
  height: 40px;
  font-size: 1.3em;
  border-radius: 5px;
}
.searchSubmitBtn:hover {
  background-color: #60646D;
}
/*CSV upload page*/
.fileSubmit {
  background: none;
  border-radius: 5px;
  margin-top: 10px;
}
.fileUpload {
  background-color: white;
  border: 2px solid white;
  height: 30px;
  width: 500px;
  color: black;
  font-size: 1.2em;
  border-radius: 5px;
}
