/*Main layout*/
body {
  background-color: #2C3E50;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar-custom {
  background-color: #2C3E50;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}
.navbar-custom li:hover {
  background-color: #E74C3C;
  color: white;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1.2em;
  color: white;
}
.title {
  color: #E74C3C;
}
.navheader-custom {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: #E74C3C !important;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}

/*Object Query Page*/
.section {
  align-self: center;
}
.searchInput {
  width: 500px;
  height: 40px;
  font-size: 1.4em;
  color: black;
}
.searchSubmitBtn {
  width: 100px;
  background: none;
  border: 2px solid white;
}
/*CSV upload page*/
.fileSubmit {
  background: none;
  border-radius: 5px;
}
.fileUpload {
  background-color: green;
  height: 20px;
}
