<h1 class="title section">CSV Upload</h1>
<form class="section" id='uploadForm' action='/upload' method='POST'
 encType="multipart/form-data">
  <h2>Select a file to upload:</h2>
  <input class="fileUpload" type="file" name="versionFile"/>
  <input class="searchSubmitBtn fileSubmit" type='submit' value='Upload!' />
</form>
