<h1 class="title section">CSV Upload</h1>
<form class="section" id='uploadForm' action='/upload' method='POST'
 encType="multipart/form-data">
  Select a file to upload:
  <input class="fileUpload" type="file" name="versionFile"/>
  <input class="fileSubmit" type='submit' value='Upload!' />
</form>
