<form id='uploadForm' action='/upload' method='POST'
 encType="multipart/form-data">
  Select a file to upload:
  <input type="file" name="versionFile" />
  <input type='submit' value='Upload!' />
</form>
