<form action="/" method="GET" class="queryForm">
  <label for="inputBox">
    <input id="inputBox" type="text" name="objectType" placeholder="Search for an object">
  </label>
  <input type="submit" name="name" value="Query">
</form>
