<h1 class="title section">Object Query</h1>
<div class="section">
  <form action="/" method="GET" class="queryForm">
    <label for="objectType">
      <input class="objectSearch" id="objectType" type="text" name="objectType" placeholder="Search for an object">
    </label>
    <label for="objectDate">
      <input class="dateSearch" id="objectDate" type="date" name="objectDate" placeholder="Enter a date">
    </label>
    <input class="searchSubmitBtn" type="submit" name="name" value="Query">
  </form>
</div>

<div class="searchResult section">
</div>
